<div id="{{ typeCode }}" [attr.code]="label" cdkDrag [cdkDragPreviewClass]="'cv-group-drag-preview'"
  style="display: flex; flex-direction: column" class="cv-input cv-group d-flex">
  <div class="cv-group-name" style="margin-bottom: 5px" *ngIf="label">
    <div class="cv-element" [class.cv-group-name-editable]="typeCode.startsWith('Others')">

      @if( typeCode.startsWith('Others')) {
      <div #editor spellcheck="false" class="editor" contenteditable="true" [innerHTML]="label"
        (keydown)="onKeyDown($event)" (blur)="onKeyUp($event)"></div>
      }@else {
      <div class="editor">
        {{ label }}
      </div>
      }

    </div>
  </div>

  @for(groupId of listElementGroupId; track groupId; let last = $last; let first
  = $first; let idx = $index) {

  <div class="cv-group_element {{ groupId }}">
    @for(element of listElement[groupId]; track element; ) {

    <app-cv-input [themeColor]="template._css['template']['themeColor']" [element]="element"></app-cv-input>

    }

    <app-cv-input-action [first]="first" [last]="last" [groupId]="groupId" [index]="idx"
      (onMoveUpEvent)="onMoveUp($event)" (onMoveDownEvent)="onMoveDown($event)" (onAddEvent)="onAdd($event)"
      (onDeleteEvent)="onDelete($event)"></app-cv-input-action>
  </div>
  }

  <app-cv-group-action [first]="first" [last]="last" (onMoveUpEvent)="onMoveUpGroup()"
    (onMoveDownEvent)="onMoveDownGroup()" (onDeleteEvent)="onDeleteGroup()"></app-cv-group-action>
</div>