<div class="container">

    <div class="jobs shadow-sm border my-4 rounded">
        <app-section-search [fixed]="!isInViewport" trackElementInViewport (inViewportChange)="inViewportChange($event)"
            (onSearchEvent)="onSearch($event)" [showfilters]="false"></app-section-search>

        <div class="row p-4">

            <div class="col-12 col-md-3">
                <app-advanced-filter (onNextPageEvent)="onNextPage()" (onPreviousPageEvent)="onPreviousPage()"></app-advanced-filter>
            </div>

            <div class="col-12 col-md-9">
                <app-ds-viec-lam [viecLams]="jobPosts" [layout]="'list'" [showButtonApply]="true" [multiplierFS]="1.3"
                    [totalRecords]="controlPaginator.totalRecords" [showPaginator]="controlPaginator.showPaginator"
                    [first]="controlPaginator.first" [rows]="controlPaginator.rows"
                    (onPageChangeEvent)="onPageChange($event)"></app-ds-viec-lam>
            </div>
        </div>
    </div>
</div>