<div class="container py-3">

    <div class="row">

        <div class="col-md-7 col-lg-8">
            <div class="d-flex flex-column gap-3 shadow-sm rounded p-3 bg-white">

                <!-- input search -->
                <div class="d-flex gap-3 align-items-center flex-wrap">
                    <div class="flex-grow-1">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-search"></i>
                            </p-inputGroupAddon>
                            <p-autoComplete [inputStyleClass]="'w-100 rounded-start-0 '" [styleClass]="'w-100'"
                                [appendTo]="'body'" [(ngModel)]="searchText" [suggestions]="suggestions"
                                [placeholder]="'common.actions.search' | translate" optionValue="title" optionLabel="title"
                                (completeMethod)="search($event)" />
                        </p-inputGroup>


                    </div>
                    <p-button (onClick)="op.toggle($event)" icon="pi pi-cog" severity="secondary" [size]="'small'"
                        raised="true" [text]="true" />

                </div>

                <!-- list result -->
                <section class="result">
                    <!-- companies -->
                    <div class="result-wrap-list">

                        <div class="d-flex gap-2 mb-3 result-title border-left-title" style="--height-border: 30px;">
                            <i class="pi pi-building fw-bold fs-5"></i>
                            <h4 class="fw-bold m-0">{{ 'common.business.company' | translate }}</h4>
                        </div>

                        <div class="result-list mb-3">
                            <app-company-user-card [typeView]="TYPE_VIEW_CODE.COMPANY"></app-company-user-card>
                            <app-company-user-card></app-company-user-card>
                            <app-company-user-card></app-company-user-card>
                            <app-company-user-card></app-company-user-card>
                            <app-company-user-card></app-company-user-card>
                            <app-company-user-card></app-company-user-card>
                        </div>

                        <p-paginator [rows]="6" [pageLinkSize]="3" [totalRecords]="100"></p-paginator>

                    </div>

                    <p-divider></p-divider>

                    <!-- users -->
                    <div class="result-wrap-list users">

                        <div class="d-flex gap-2 mb-3 result-title border-left-title"
                            style="--bg-border: var(--red-400);--height-border: 28px;">
                            <i class="pi pi-users fw-bold fs-5"></i>
                            <h4 class="fw-bold m-0">{{ 'common.business.candidate' | translate }}</h4>
                        </div>

                        <div class="result-list mb-3">
                            <app-company-user-card [typeView]="TYPE_VIEW_CODE.USER"></app-company-user-card>
                            <app-company-user-card></app-company-user-card>
                            <app-company-user-card></app-company-user-card>
                            <app-company-user-card></app-company-user-card>
                            <app-company-user-card></app-company-user-card>
                            <app-company-user-card></app-company-user-card>
                        </div>

                        <p-paginator [rows]="6" [pageLinkSize]="3" [totalRecords]="100"></p-paginator>
                    </div>
                </section>
            </div>
        </div>

        <div class="d-none d-md-flex flex-column gap-3 col-md-5 col-lg-4">
            <!-- sidebar -->

            <!-- list recommend company  -->
            <app-recommend-list [title]="'common.job.recommended_companies' | translate"
                [typeView]="TYPE_VIEW_CODE.COMPANY"></app-recommend-list>

            <!-- list recommend user  -->
            <app-recommend-list [title]="'common.job.recommended_candidates' | translate"
                [typeView]="TYPE_VIEW_CODE.USER" [borderLeftTitleColor]="'var(--red-400)'"></app-recommend-list>

        </div>
    </div>
</div>

<p-overlayPanel #op>
    <div class=" d-flex flex-column gap-2 align-items-start">
        <p-checkbox [(ngModel)]="stateCheck.company" [binary]="true"
            label="{{  'common.business.company' | translate }}"></p-checkbox>
        <p-checkbox [(ngModel)]="stateCheck.userProfile" [binary]="true"
            label="{{  'common.business.candidate' | translate }}"></p-checkbox>
    </div>
</p-overlayPanel>