<section class="section-viec-lam p-4">
  <div class="container d-flex flex-column gap-4 align-items-center">
    @if(tinTuyenDung) {
    <!-- block header -->
    <div
      class="section-viec-lam-header w-100 p-4 d-flex gap-3 row-gap-2 align-items-start justify-content-between"
    >
      <div class="info d-flex flex-column flex-md-row gap-4">
        <!-- logo -->
        <div class="logo">
          <img src="https://placehold.co/150" alt="logo" />
        </div>

        <div class="d-flex flex-column gap-2">
          <h3 class="fw-bold text-primary text-uppercase m-0">
            {{ tinTuyenDung.title }}
          </h3>
          <div class="text-muted text-uppercase">
            {{ tinTuyenDung.companyName }}
          </div>
          <div class="text-muted">
            <i class="pi pi-map-marker fw-bold"></i>
            {{ tinTuyenDung._khuVucName }}
          </div>
        </div>
      </div>

      <!-- button Ứng tuyển -->
      <div class="d-flex flex-column justify-content-center gap-2">
        <p-button
          label="Ứng tuyển"
          severity="primary"
          raised="true"
          [size]="'large'"
          [styleClass]="'w-100'"
          (onClick)="onApply()"
        ></p-button>

        <p-button
          label="Tạo CV để ứng tuyển"
          severity="primary"
          [outlined]="true"
          raised="true"
        ></p-button>
      </div>
    </div>

    <!-- block salary -->

    <div
      class="section-viec-lam-salary justify-content-between d-flex flex-column flex-md-row gap-3"
    >
      <div class="d-flex flex-column gap-3 p-4 justify-content-center">
        <!-- salary -->
        <div class="d-flex gap-3 align-items-center">
          <i class="pi pi-dollar text-primary"></i>
          <span class="fw-bold text-primary">
            {{ tinTuyenDung.salaryMin | number }} đ -
            {{ tinTuyenDung.salaryMax | number }} đ
          </span>
        </div>

        <!--  create time -->
        <div class="d-flex gap-3 align-items-center">
          <i class="pi pi-clock"></i>
          <span class="fw-bold">
            {{ tinTuyenDung.creationTime | date : "dd/MM/yyyy" }}
          </span>
        </div>

        <!-- tag -->
        <div class="d-flex gap-3 align-items-center">
          <i class="pi pi-hashtag"></i>
          @for (tag of tinTuyenDung._tagsOpenJson; track tag) {
          <p-tag severity="secondary" value="{{ tag }}" [rounded]="true" />
          }
        </div>
      </div>

      <!-- Kỹ năng -->
      <div class="d-flex flex-column gap-3 p-4 justify-content-center">
        <div class="d-flex gap-3 align-items-center">
          <i class="pi pi-clock"></i>
          <span class="fw-bold">
            {{ tinTuyenDung.workingHours }}
          </span>
        </div>

        <div class="d-flex gap-3 align-items-center">
          <i class="pi pi-user"></i>
          @for (kyNang of tinTuyenDung._kyNangsOpenJson; track kyNang.id) {
          <p-tag severity="info" value="{{ kyNang.name }}" [rounded]="true" />
          }
        </div>
      </div>
    </div>

    <!-- block content -->
    <div class="section-viec-lam-content d-flex flex-column gap-3 p-4">
      <!-- Mô tả -->

      <div class="title fw-bold bg-light p-2">Mô tả công việc</div>

      <div [innerHTML]="tinTuyenDung.jobDescription"></div>

      <!-- Yêu cầu -->

      <div class="title fw-bold bg-light p-2">Yêu cầu công việc</div>

      <div [innerHTML]="tinTuyenDung.jobRequirements"></div>

      <!-- Quyền lợi -->

      <div class="title fw-bold bg-light p-2">Quyền lợi</div>

      @for(quyenLoi of tinTuyenDung._quyenLoisOpenJson; track quyenLoi.id) {
      <div class="d-flex gap-3">
        <i class="pi pi-check text-success"></i>
        <span class="fw-bold">{{ quyenLoi.name }}</span>
      </div>
      }
    </div>

    <!-- footer -->
    <div
      class="section-viec-lam-footer d-flex gap-3 justify-content-center align-items-center p-4"
    >
      <p-button
        label="Ứng tuyển ngay"
        severity="primary"
        raised="true"
        [size]="'large'"
        [styleClass]="'w-100'"
        (onClick)="onApply()"
      ></p-button>

      <p-button
        label="Tạo CV để ứng tuyển"
        severity="primary"
        [size]="'large'"
        [outlined]="true"
        raised="true"
      ></p-button>
    </div>
    }
  </div>
</section>
