.section-viec-lam {
    background-color: var(--bluegray-50);

    &-header {
        .info {
            font-size: 1.2rem;
        }
    }

    &-header,
    &-footer,
    &-salary,
    &-content {
        background-color: #fff;
        border: 1px solid #fff;
        width: 100%;
    }
}
