<div class="cv-element" (click)="onFocus($event)" style="display: flex; align-items: flex-start; gap: 10px"
  [attr.data-placeholder]="element.label">
  <i class="cv-icon {{ element.icon }} fw-bold" style="padding-top: 5px" *ngIf="element.icon"></i>

  @if(element.code === 'avatar') {
  <div class="image-wrapper" (mousemove)="onMouseMoveImageScale($event)" *ngIf="element.code === 'avatar'">
    <div class="image-inner" [class.resizing]="resizing">
      <img [attr.data-code]="element.code" [src]="element.value" alt="avatar" [width]="width" [height]="height" />

      <!-- button upload image -->
      <p-button label="Sửa ảnh" [size]="'small'" icon="pi pi-pencil" severity="success"
        (click)="onShowDialog()"></p-button>

      <!-- góc dưới phải -->
      <i class="pi pi-arrows-h se" (mousedown)="onMouseDownImageScale($event, 'se')"></i>

      <!-- góc dưới trái -->
      <i class="pi pi-arrows-h sw" (mousedown)="onMouseDownImageScale($event, 'sw')"></i>

      <!-- góc trên trái -->
      <i class="pi pi-arrows-h nw" (mousedown)="onMouseDownImageScale($event, 'nw')"></i>

      <!-- góc trên phải -->
      <i class="pi pi-arrows-h ne" (mousedown)="onMouseDownImageScale($event, 'ne')"></i>
    </div>

    <p-dialog header="Cập nhật ảnh đại diện" [modal]="true" [breakpoints]="{'1024px': '95vw'}"
      [(visible)]="showDialogUploadImage" [style]="{ width: 'fit-content' }">
      <app-crop-image [width]="150" [height]="150" *ngIf="showDialogUploadImage" (onSaveEvent)="onSaveImage($event)"></app-crop-image>
    </p-dialog>
  </div>
  }@else if(element.inputType === 'editor') {
  <div #editor [attr.data-code]="element.code" (mouseup)="saveSelection()" (input)="checkBlank($event)"
    [class.editor-blank]="element._isBlank" [attr.data-placeholder]="element.label" spellcheck="false"
    (keyup)="saveSelection()" class="editor {{ element.code }} field-{{ element.fieldIndex }}" contenteditable="true"
    (blur)="onInputEditor($event)" [innerHTML]="element.value"></div>

  }@else {
  <div #editor [attr.data-code]="element.code" (mouseup)="saveSelection()" (input)="checkBlank($event)"
    [attr.data-placeholder]="element.label" spellcheck="false" (keyup)="saveSelection()"
    class="editor {{ element.code }} field-{{ element.fieldIndex }}" [class.editor-blank]="element._isBlank"
    contenteditable="true" (blur)="onInputEditor($event)" (keydown)="onKeyDown($event)" [innerHTML]="element.value">
  </div>

  }

  <p-overlayPanel #op [styleClass]="'cv-input-overlaypanel'" [appendTo]="'body'">
    <app-cv-input-toolbar [element]="element" (onRestoreSelectionEvent)="restoreSelection()"
      (onUpdateElementEvent)="onUpdateElementFromToolbar($event)"></app-cv-input-toolbar>
  </p-overlayPanel>
</div>