<div class="d-flex flex-column flex-md-row gap-3 p-4" style="width: fit-content; margin: auto; background-color: #fff;">

    <div class="toolbar d-flex flex-row flex-md-column gap-2">

        <p-button label="Phóng to" icon="pi pi-plus" [size]="'small'" severity="success" (click)="zoomIn()"></p-button>

        <p-button label="Thu nhỏ" icon="pi pi-minus" [size]="'small'" severity="info" (click)="zoomOut()"></p-button>

    </div>

    <div class="image-upload">
        <canvas #canvas id="canvas"></canvas>
    </div>

    <div class="image-preview d-flex flex-column gap-3 align-items-center">
        <div [style]="{width: width + 'px', height: height + 'px'}">
            <img #preview id="preview" style="max-width: 100%;" />
        </div>

        <p-button label="Đổi ảnh" icon="pi pi-upload" severity="info" (click)="onUpload()"></p-button>

        <p-button label="Hoàn tất" icon="pi pi-check" severity="success" (click)="onSave()"></p-button>
    </div>

</div>

<input #upload type="file" id="upload" class="d-none" />