<div class="p-3 shadow-sm bg-light border rounded properties">
    @if (field) {
    <p-accordion [activeIndex]="0">

        <p-button size="small" [styleClass]="'w-100 mb-3'" label="Xóa ' {{ field.label }} '" icon="pi pi-times" [raised]="true"
            [severity]="'danger'" [loading]="loadingButtonRemove" (onClick)="deleteThanhPhan()" />

        <!-- style -->
        <p-accordionTab header="Giao diện">
            <div class="style-setting d-flex flex-column gap-3">
                <!-- width -->
                <div class="d-flex flex-column gap-2 width">
                    <label class="fw-bold">Chiều rộng</label>
                    <div class="d-flex flex-wrap flex-column gap-2 width-content">
                        <!-- mobile -->
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-mobile"></i>
                            </p-inputGroupAddon>
                            <p-dropdown [options]="widthOptions" (onChange)="onChangeWidth(maThietBi.MOBILE)"
                                [panelStyleClass]="'form-control-sm'" [(ngModel)]="field._css.responsive.mobile"
                                optionLabel="label" optionValue="value" placeholder="Select a width" />
                        </p-inputGroup>
                        <!-- tablet -->
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-tablet"></i>
                            </p-inputGroupAddon>
                            <p-dropdown [options]="widthOptions" (onChange)="onChangeWidth(maThietBi.TABLET)"
                                [panelStyleClass]="'form-control-sm'" [(ngModel)]="field._css.responsive.tablet"
                                optionLabel="label" optionValue="value" placeholder="Select a width" />
                        </p-inputGroup>
                        <!-- desktop -->
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-desktop"></i>
                            </p-inputGroupAddon>
                            <p-dropdown [options]="widthOptions" (onChange)="onChangeWidth(maThietBi.DESKTOP)"
                                [panelStyleClass]="'form-control-sm'" [(ngModel)]="field._css.responsive.desktop"
                                optionLabel="label" optionValue="value" placeholder="Select a width" />
                        </p-inputGroup>
                    </div>
                </div>

                <!-- height -->
                <div class="d-flex flex-column gap-2" *ngIf="field._css.height != undefined">
                    <label class="fw-bold" for="height">Chiều cao</label>
                    <div class="d-flex flex-wrap flex-column gap-2">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-arrows-v"></i>
                            </p-inputGroupAddon>

                            <p-inputNumber [inputId]="'height'" [inputStyleClass]="'rounded-start-0 form-control-sm'"
                                [(ngModel)]="field._css.height" />

                            <p-inputGroupAddon>
                                <i class="pi pi-percentage"></i>
                            </p-inputGroupAddon>
                        </p-inputGroup>
                    </div>
                </div>

                <!-- label -->
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex flex-column gap-2">
                        <label class="fw-bold" for="label">Tiêu đề</label>
                        <input type="text" class="form-control-sm" id="label" pInputText [(ngModel)]="field.label" />
                    </div>

                    <div class="d-flex gap-2 justify-content-between">
                        <div class="w-70">
                            <p-inputGroup>
                                <p-inputGroupAddon> Cỡ chữ </p-inputGroupAddon>
                                <p-inputNumber [inputStyleClass]="'rounded-start-0 form-control-sm'"
                                    [(ngModel)]="field._css.label.fontSize" />
                            </p-inputGroup>
                        </div>
                        <div class="w-20 text-end">
                            <p-colorPicker [(ngModel)]="field._css.label.color" />
                        </div>
                    </div>

                    <div class="d-flex gap-2 justify-content-between">
                        <div class="w-70">
                            <p-inputGroup>
                                <p-inputGroupAddon> Biểu tượng </p-inputGroupAddon>
                                <input type="text" readonly (click)="showIconPicker('label')"
                                    class="rounded-start-0 form-control-sm" pInputText
                                    [(ngModel)]="field._css.label.icon" />
                            </p-inputGroup>
                        </div>
                        <div class="w-20 text-end">
                            <p-colorPicker [(ngModel)]="field._css.label.iconColor" />
                        </div>
                    </div>
                </div>

                <!-- flex & align -->
                <div class="d-flex gap-2 flex-wrap">
                    <!-- flex -->
                    <div class="d-flex flex-column gap-2 flex">
                        <label class="fw-bold">Bố cục</label>
                        <div class="d-flex gap-2">
                            <div class="d-flex gap-2 align-items-center">
                                <p-radioButton value="flex-column" [(ngModel)]="field._css.flex"
                                    inputId="ingredient1" />
                                <label for="ingredient1" class="ml-2"> Cột </label>
                            </div>

                            <div class="d-flex gap-2 align-items-center">
                                <p-radioButton value="flex-row" [(ngModel)]="field._css.flex" inputId="ingredient2" />
                                <label for="ingredient2" class="ml-2"> Hàng </label>
                            </div>
                        </div>
                    </div>

                    <!-- align -->
                    <div class="d-flex flex-column gap-2 align align-items-center">
                        <label class="fw-bold">Canh lề</label>
                        <div class="d-flex gap-3 align-items-end">
                            <i (click)="changeAlign(item.value)" class="{{ item.icon }}"
                                *ngFor="let item of alignOptions"
                                [ngClass]="{ active: field._css.align === item.value }"></i>
                        </div>
                    </div>
                </div>

                <!-- content -->

                <div class="d-flex gap-2 title justify-content-between align-items-end" *ngIf="field._css.content">
                    <div class="d-flex flex-column gap-2 title-propertie">
                        <label class="fw-bold">Nội dung</label>
                        <p-inputGroup>
                            <p-inputGroupAddon> Cỡ chữ </p-inputGroupAddon>

                            <p-inputNumber [inputStyleClass]="'rounded-start-0 form-control-sm'"
                                [(ngModel)]="field._css.content.fontSize" />
                        </p-inputGroup>
                    </div>
                    <div class="w-20 text-end">
                        <p-colorPicker [(ngModel)]="field._css.content.color" />
                    </div>
                </div>


                <!-- placeholder -->
                <div class="d-flex flex-column gap-2">
                    <label class="fw-bold" for="placeholder">Gợi ý nhập liệu</label>
                    <input type="text" class="form-control-sm" id="placeholder" pInputText
                        [(ngModel)]="field.placeholder" />
                </div>


                <!-- hiển thị lọc -->
                <div class="d-flex flex-wrap gap-3">
                    <div class="d-flex flex-column gap-2" *ngIf="field.isSearch != undefined">
                        <label class="fw-bold" for="show-search">Hiển thị tìm kiếm</label>
                        <p-inputSwitch [(ngModel)]="field.isSearch" inputId="show-search" />
                    </div>
                    <div class="d-flex flex-column gap-2" *ngIf="field.isRequired">
                        <label class="fw-bold" for="required">Yêu cầu nhập</label>
                        <p-inputSwitch [(ngModel)]="field.isRequired" inputId="required" />
                    </div>
                    <div class="d-flex flex-column gap-2" *ngIf="field.isAllowDuplicate != undefined">
                        <label class="fw-bold" for="allow-dup">Cho phép trùng lặp</label>
                        <p-inputSwitch [(ngModel)]="field.isAllowDuplicate" inputId="allow-dup" />
                    </div>
                    <div class="d-flex flex-column gap-2" *ngIf="field.multiple != undefined">
                        <label class="fw-bold" for="multiple">Chọn nhiều</label>
                        <p-inputSwitch [(ngModel)]="field.multiple" inputId="multiple" />
                    </div>
                </div>

                <!-- files -->
                <div class="d-flex flex-column gap-2" *ngIf="field.inputType === 'file'">
                    <div class="d-flex flex-column gap-2">
                        <label class="fw-bold" for="max-file-size">File</label>
                        <p-inputGroup>
                            <p-inputGroupAddon> Kích thước tối đa </p-inputGroupAddon>
                            <p-inputNumber [inputId]="'max-file-size'"
                                [inputStyleClass]="'rounded-start-0 rounded-end-0 form-control-sm'"
                                [(ngModel)]="field.maxFileSize" />
                            <p-inputGroupAddon>
                                bytes
                            </p-inputGroupAddon>
                        </p-inputGroup>
                    </div>

                    <p-inputGroup>
                        <p-inputGroupAddon> Các loại tệp được cho phép </p-inputGroupAddon>
                        <input type="text" class="rounded-start-0 form-control-sm" pInputText
                            [(ngModel)]="field.acceptFileExtensions" placeholder=".jpg, .jpeg, .png, ..." />
                    </p-inputGroup>
                </div>

            </div>
        </p-accordionTab>

        <!-- data -->
        <p-accordionTab header="Dữ liệu">

            <div class="d-flex flex-column gap-3">

                <div class="d-flex gap-3">
                    <label class="fw-bold">KEY</label>
                    <code class="fw-bold text-primary user-select-all">{{ field._key }}</code>
                </div>


                @if(field.inputType == "select" || field.inputType == "multiselect" || field.inputType == "radio"){
                <div class=" d-flex gap-4 flex-column">
                    <!-- listValueOption -->
                    <div class="d-flex flex-column gap-2">
                        <label class="fw-bold" id="ds-lua-chon">Danh sách chọn tùy chỉnh</label>
                        <p-chips ariaLabelledBy="ds-lua-chon" [allowDuplicate]="false" [styleClass]="'w-100'"
                            [(ngModel)]="field._listValueOptionOpenJSON" />
                    </div>

                    <!-- listValueOption from server -->
                    <div class="d-flex flex-column gap-2">
                        <label class="fw-bold" id="ds-lua-chon-1">Danh sách chọn từ máy chủ</label>
                        <p-dropdown ariaLabelledBy="ds-lua-chon-1" [filter]="true" filterBy="name" [options]="dataCodes"
                            [(ngModel)]="field.dataCode" optionLabel="name" placeholder="Chọn dữ liệu" />
                    </div>

                </div>
                }


                <!-- công thức -->
                <div class="d-flex flex-column gap-2">
                    <label class="fw-bold" for="fomular">Công thức của giá trị</label>
                    <!-- <input type="text" class="form-control-sm" id="fomular" pInputText [(ngModel)]="field.fomular" /> -->
                    <textarea rows="5" cols="30" [autoResize]="true" pInputTextarea class="form-control-sm" id="fomular"
                        [(ngModel)]="field.fomular"></textarea>
                </div>

                <!-- Các kết nối -->
                <div class="d-flex flex-column gap-2">
                    <label class="fw-bold" for="list-relation">Các kết nối</label>
                    <p-chips ariaLabelledBy="list-relation" [allowDuplicate]="false" [styleClass]="'w-100'"
                        [(ngModel)]="field._listRelationOpenJSON" />

                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
    } @else { Đây là nơi hiển thị các giá trị thuộc tính của các thành phần }
</div>