<section class="ds-viec-lam row row-gap-2">
  <div class="col-12 col-md-6 col-xl-4 " *ngFor="let viecLam of viecLams">
    <a class="viec-lam d-flex  gap-1 rounded shadow-sm" [routerLink]="['/viec-lam', viecLam.id]">
      <!-- logo company -->
      <div class="viec-lam-logo-cty">
        <img src="https://placehold.co/80" alt="Logo" />
      </div>

      <!-- info job -->

      <div class="viec-lam-thong-tin d-flex flex-column gap-2 p-3">
        <h3 class="fw-bold text-primary text-uppercase m-0">
          {{ viecLam.title }}
        </h3>
        <div class="text-muted text-uppercase">{{ viecLam.companyName }}</div>

        <!-- mức lương | khu vực -->
        <div class="d-flex gap-2 align-items-md-center flex-column flex-md-row">
          <span class="fw-bold">{{ viecLam.salaryMin | number }} - {{ viecLam.salaryMax | number }} đ
          </span>
          <span class="text-muted d-flex gap-2 align-items-center">
            | {{ viecLam._khuVucName }}

            <ng-container *ngIf="isLoading && viecLam.location">
              <p-skeleton width="10rem" borderRadius="16px" />
            </ng-container>
          </span>
        </div>

        <!-- thời gian cập nhật | kỹ năng-->
        <div class="d-flex gap-2 align-items-center">
          <span class="text-muted align-items-center d-flex gap-2">
            Cập nhật:
            {{
            viecLam.lastModificationTime
            ? (viecLam.lastModificationTime | date : "dd/MM/yyyy")
            : (viecLam.creationTime | date : "dd/MM/yyyy")
            }}

          </span>

          <ng-container *ngIf="isLoading && viecLam.jobLevel">
            <p-skeleton width="10rem" styleClass="mr-2" borderRadius="16px" />
            <p-skeleton width="10rem" borderRadius="16px" />
          </ng-container>
        </div>

        <!-- divider -->
        <p-divider type="solid" [styleClass]="'m-1'" />

        <!-- tags -->
        <div class="d-flex flex-wrap gap-2 align-items-center">
          @for (tag of viecLam._tagsOpenJson; track tag) {
          <p-tag severity="secondary" value="{{ tag }}" [rounded]="true" />
          }
          @for (kyNang of viecLam._kyNangsOpenJson; track kyNang.id) {
          <p-tag severity="info" value="{{ kyNang.name }}" [rounded]="true" />
          }

          <ng-container *ngIf="isLoading && viecLam.tags">
            <p-skeleton width="10rem" styleClass="mr-2" borderRadius="16px" />
            <p-skeleton width="10rem" borderRadius="16px" />
          </ng-container>
        </div>
      </div>
    </a>
  </div>
</section>