.viec-lam {
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    border: 1px solid #fff;
    &-logo-cty {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-thong-tin {
        font-size: 1.2rem;
        width: 100%;
    }

    &:hover {
        border-color: var(--primary-400);
        background-color: var(--primary-50);
        cursor: pointer;
    }
}
