<div class="company_user d-flex shadow-sm border rounded align-items-center p-3 bg-light">

    <!-- avatar -->
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="xlarge"
        shape="circle" />

    <!-- info -->
    <div class="d-flex flex-column gap-3 ms-3">

        <!-- name -->
        <a class="text-decoration-none text-dark fw-bold"
            [routerLink]="['/profile', 'e767e543-e7c0-4010-aabc-14d7b4f9079a']" [queryParams]="{type: typeView }">
            Nguyễn Văn A
        </a>

        <div class="d-flex gap-3 align-items-center">

            <!-- button xem thông tin -->
            <p-button [label]="'Thông tin'" [routerLink]="['/profile', 'e767e543-e7c0-4010-aabc-14d7b4f9079a']"
                [queryParams]="{type: typeView }" [icon]="'pi pi-info-circle'" severity="info" [size]="'small'"
                raised="true"></p-button>

            <!-- button Quan tâm -->
            <p-button pTooltip="Quan tâm" (click)="onFollow()" [icon]="'pi pi-heart fs-6'" [size]="'small'" severity="danger" [text]="true"
                raised="true"></p-button>

        </div>
    </div>

</div>