<section id="search-section" [class.py-3]="!showfilters" [class.fixed]="fixed">
  <div class="search-section-content container d-flex flex-column gap-2 gap-md-3">
    <div class="d-flex flex-column gap-2 search-box">
      <p-autoComplete [inputStyleClass]="'w-100 shadow-sm'" [styleClass]="'w-100'" [appendTo]="'body'"
        [(ngModel)]="filter.searchText" [suggestions]="suggestions" [placeholder]="'Nhập tên công việc cần tìm kiếm'"
        optionValue="title" optionLabel="title" (completeMethod)="searchPost($event)" />

      <!-- button tim kiem -->
      <p-button label="Tìm kiếm" icon="pi pi-search" [classList]="'button-search'" [size]="'large'" severity="primary"
        (click)="onSearch()"></p-button>
    </div>

    <div class="row row-gap-2 align-items-center" *ngIf="showfilters">
      <div class="col-6 col-md-4">
        <p-dropdown [virtualScroll]="true" [virtualScrollItemSize]="5" [appendTo]="'body'"
          [styleClass]="'w-100 shadow-sm'" [options]="khuVucs" [filter]="true" [(ngModel)]="filter.khuVuc"
          optionValue="id" optionLabel="name" placeholder="Khu vực" [showClear]="true" />
      </div>

      <div class="col-6 col-md-3">
        <p-multiSelect [appendTo]="'body'" [styleClass]="'w-100 shadow-sm'" [options]="kyNangs"
          [(ngModel)]="filter.kyNangs" optionValue="id" optionLabel="name" placeholder="Kỹ năng" />
      </div>

      <div class="col-6 col-md-3">
        <p-multiSelect [appendTo]="'body'" [styleClass]="'w-100 shadow-sm'" [options]="hinhThucLamViecs"
          [(ngModel)]="filter.hinhThucLamViecs" optionValue="id" optionLabel="name" placeholder="Hình thức làm việc" />
      </div>

      <!-- button xóa filter -->
      <div class="col-6 col-md-2">
        <button pButton pRipple (click)="clearFilter()" severity="secondary" class="shadow-sm"
          icon="pi pi-filter-slash">
          <span class="p-button-label d-none d-lg-block ms-2">
            Xóa bộ lọc
          </span>
        </button>
      </div>
    </div>
  </div>
</section>