<p-toolbar [style]="{
    'border-radius': '0',
    padding: '0.75rem 1.25rem',
    border: 'none',
    'background-color': '#fff'
  }">
  <ng-template pTemplate="start">
    <img [src]="logoBrand" width="40" />
  </ng-template>

  <ng-template pTemplate="end">
    <div class="d-flex align-items-center gap-3 gap-md-2">
      @if(appSessionService.userId) {
      <ng-container *ngTemplateOutlet="hasLogin"></ng-container>
      }@else {
      <ng-container *ngTemplateOutlet="notLogin"></ng-container>
      }
    </div>
  </ng-template>
</p-toolbar>

<ng-template #hasLogin>
  <!-- DESKTOP -->
  <!-- begin button tenant -->
  <p-splitButton class="d-none d-md-block" label="{{ appTenantService.currentTenant?.name }}" icon="pi pi-building"
    size="small" [model]="listTenant" [styleClass]="'tenant'" outlined="true" raised />
  <!-- end button tenant -->

  <!-- begin button trò chuyện -->
  <!-- <p-button class="d-none d-md-block" label="Trò chuyện" icon="pi pi-comments" badge="2" badgeClass="p-badge-contrast"
    outlined="true" size="small" raised /> -->
  <!-- end button trò chuyện -->

  <!-- begin button thông báo -->
  <!-- <p-button class="d-none d-md-block" label="Thông báo" icon="pi pi-bell" badge="2" badgeClass="p-badge-contrast"
    outlined="true" size="small" raised /> -->

  <!-- end button thông báo -->

  <!-- begin button user -->
  <p-splitButton class="d-none d-md-block"
    label="{{  appSessionService.user?.surname + ' ' + appSessionService.user?.name }}" icon="pi pi-user" size="small"
    [model]="listRoute" [styleClass]="'user'" outlined="true" raised />
  <!-- end button user -->



  <!-- MOBILE -->

  <!-- begin button trò chuyện -->
  <i class="pi pi-comments fs-3 d-block d-md-none" pBadge value="2"></i>


  <!-- end button trò chuyện -->

  <!-- begin button thông báo -->
  <i class="pi pi-bell fs-3 d-block d-md-none" pBadge value="2"></i>

  <!-- end button thông báo -->

  <!-- begin button tenant -->
  <p-splitButton class="button-responsive d-block d-md-none" label="{{ appTenantService.currentTenant?.name }}"
    size="small" [model]="listTenant" [styleClass]="'tenant'" raised outlined="true" text />

  <!-- end button tenant -->

  <!-- begin button user -->

  <p-splitButton class="button-responsive d-block d-md-none" size="small" [model]="listRoute" [styleClass]="'user'"
    outlined="true" label="{{  appSessionService.user?.surname + ' ' + appSessionService.user?.name }}" raised text />

</ng-template>

<ng-template #notLogin>

  <p-splitButton icon="pi pi-user-plus" severity="success" [label]="'common.user.register' | translate" size="small"
    [model]="registerButtonItems" />

  <!-- begin button đăng ký tài khoản -->
  <!-- <p-button label="Đăng ký tài khoản" icon="pi pi-user-plus" size="small" severity="success" raised
    (click)="onRegister()" /> -->
  <!-- end button đăng ký tài khoản -->
  <!-- begin button đăng nhập -->
  <p-button label="Đăng nhập" icon="pi pi-sign-in" size="small" raised (click)="onLogin()" />
  <!-- <a
    pButton
    pRipple
    label="Đăng nhập"
    icon="pi pi-sign-in"
    size="small"
    raised
    [style]="{ 'text-decoration': 'none' }"
    [attr.href]="urlLogin"
  ></a> -->
  <!-- end button đăng nhập -->
</ng-template>