<div id="cv">
  <div id="cv-toolbar" class="cv-toolbar d-none d-md-flex">
    <div class="container-fluid d-flex gap-2 justify-content-between">
      <div class="cv-name d-flex align-items-center">
        <i class="pi pi-file"></i>
        <input type="text" class="form-control" placeholder="Tên CV" />
      </div>

      <div class="toolbar-actions d-flex gap-2 align-items-center">
        <i class="pi pi-undo"></i>

        <button class="btn btn-primary">Xem trước</button>

        <button class="btn btn-primary">Lưu CV</button>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="d-flex gap-5 pt-4 px-2 w-100 overflow-auto pb-6 pb-md-4">
      <!-- sidebar desktop -->
      <div id="cv-sidebar-wrap" class="d-none d-md-flex gap-2">
        <div id="sidebar-group" class="d-none d-md-flex gap-2">
          <!-- sidebar -->
          <div id="cv-sidebar" class="shadow-sm rounded d-none d-xl-block">
            <div class="cv-sidebar-menu d-flex flex-column">
              @for(item of sidebarContent.listSidebarItem; track item.label) {
              <div class="d-flex align-items-center gap-3 cv-sidebar-menu-item" [class.active]="item.isActive"
                (click)="selectSidebarItem(item)">
                <i class="{{ item.icon }}"></i>
                {{ item.label }}
              </div>
              }
            </div>
          </div>

          <!-- sidebar content  -->
          <div id="cv-sidebar-content" class="cv-sidebar-content shadow-sm rounded" [class.show]="sidebarContent.show">
            <!-- sidebar content header -->
            <div class="cv-sidebar-content-header d-flex align-items-center justify-content-between gap-sm-2">
              <!-- sidebar content header title -->
              <div class="cv-sidebar-content-header-title">
                {{ sidebarContent.title }}
              </div>

              <!-- button close -->
              <p-button icon="pi pi-times" size="small" [styleClass]="'p-button-xs'" [rounded]="true"
                severity="secondary" (click)="sidebarContent.show = false" />
              <!-- end button close -->
            </div>
            <!-- end sidebar content header -->

            <!-- sidebar content body -->
            <div class="cv-sidebar-content-body" style="overflow-y: auto; overflow-x: hidden">
              @if(sidebarContent.currentTemplate == "Thiết kế & Font") {
              <ng-container *ngTemplateOutlet="sidebar_content_font"></ng-container>
              } @else if (sidebarContent.currentTemplate == "Thêm mục") {
              <ng-container *ngTemplateOutlet="groups"></ng-container>
              } @else if (sidebarContent.currentTemplate == "Bố cục") {
              <ng-container *ngTemplateOutlet="layout"></ng-container>
              }
            </div>
            <!-- end sidebar content body -->

            <div class="cv-sidebar-content-footer cv-sidebar-menu d-flex d-xl-none">
              @for(item of sidebarContent.listSidebarItem; track item.label) {
              <div class="d-flex align-items-center gap-3 cv-sidebar-menu-item" [class.active]="item.isActive"
                (click)="selectSidebarItem(item)">
                <i class="{{ item.icon }}"></i>
                {{ item.label }}
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      <!-- end desktop -->

      <!-- cv content -->
      <div id="cv-content" class="flex-grow-1 d-flex justify-content-center" style="
    --theme-color: {{ (template?._css)!['template']['themeColor'] }};
    --theme-font: {{ (template?._css)!['template']['font'] }};
    --theme-font-size: {{ (template?._css)!['template']['fontSize'] + 'px' }};
    --theme-line-height: {{ (template?._css)!['template']['lineHeight'] }};
    --multiplierFS: {{ (template?._css)!['template']['multiplierFS'] }};
    ">
        <div class="content">
          <ng-container *ngTemplateOutlet="cv1"></ng-container>
        </div>
      </div>
      <!-- end cv content -->
    </div>
    <!-- sidebar mobile -->
    <div class="d-md-none"></div>
    <!-- end mobile -->
  </div>
</div>

<!-- font size template -->
<ng-template #sidebar_content_font>
  <div class="font-setting d-flex flex-column gap-4 p-3">
    @if (template) {
    <!-- font -->
    <div class="d-flex flex-column gap-2">
      <label for="font">Font chữ</label>
      <p-dropdown [options]="fonts" [optionValue]="'value'" [(ngModel)]="template._css['template']['font']"
        [styleClass]="'w-100'" appendTo="body" optionLabel="label" />
    </div>

    <!-- cỡ chữ -->
    <div class="d-flex flex-column gap-4 font-size">
      <label for="font">cỡ chữ</label>
      <p-slider styleClass="w-100" [(ngModel)]="template._css['template']['multiplierFS']" [min]="0.7" [max]="1.5"
        [step]="0.2" />
    </div>

    <!-- khoảng cách dòng -->
    <div class="d-flex flex-column gap-4">
      <label>khoảng cách dòng</label>
      <p-slider styleClass="w-100" [min]="1" [max]="2" [step]="0.1"
        [(ngModel)]="template._css['template']['lineHeight']" />
    </div>

    <!-- Màu chủ đề -->
    <div class="d-flex flex-column gap-3">
      <label>màu chủ đề</label>
      <p-colorPicker (onChange)="onChangeThemeColor($event)" [(ngModel)]="template._css['template']['themeColor']"
        [inline]="true" styleClass="w-100" />
    </div>
    }@else { Đang tải dữ liệu template }
  </div>
</ng-template>

<!-- layout template -->
<ng-template #layout>
  <div id="cv-layout" cdkDropListGroup class="p-2 d-flex flex-column gap-2">
    @for (row of listRow; track row.id) {

    <!-- condition: row -->
    <div class="_row py-2 d-flex">
      <p-splitter [minSizes]="row._panelMinSizes!" (onResizeEnd)="onResizeEnd($event, row)" class="w-100"
        [styleClass]="'w-100'" [panelSizes]="row._panelSizes!">
        @for (col of row._listChild; track col.id) {
        <!-- condition: column -->
        <ng-template pTemplate>
          <div class="_col p-2 d-flex flex-column gap-2" cdkDropList id="{{ col.id }}"
            (cdkDropListDropped)="dropIntoCol($event, col)" [cdkDropListData]="col._listTypeCode!">
            @for (group of col._listTypeCode; track group) {

            <div class="_group text-center p-3 bg-light rounded border" cdkDrag>
              {{ group.label }}
            </div>

            }
          </div>
        </ng-template>
        <!-- end condition: column -->

        }
      </p-splitter>
    </div>

    }
  </div>
</ng-template>

<!-- list group-->
<ng-template #groups>
  <div class="_groups d-flex flex-column p-3 gap-3">
    <!-- mục chua sử dụng -->
    <div class="d-flex flex-column gap-3">
      <label class="fw-bold">Mục chưa sử dụng</label>

      <i>Kéo và thả mục bất kỳ vào vị trí bạn muốn thêm trên CV</i>

      <!-- THONG TIN THEM -->
      <!-- <div
        cdkDropList
        (cdkDropListDropped)="dropIntoCol($event)"
        [cdkDropListConnectedTo]="listCdkDropListConnectedTo"
        class="list-avaible d-flex flex-column gap-2"
      >
        <div
          cdkDrag
          class="d-flex justify-content-between gap-2 align-items-center _group p-3 bg-light rounded border"
        >
          <div class="d-flex gap-4">
            <span>#</span>

            <span class="name">
              {{ group.label }}
            </span>
          </div>

          <i class="pi pi-arrows-alt"></i>
        </div>
      </div> -->

      <div class="list-avaible d-flex flex-column gap-2" id="groups"
        [cdkDropListConnectedTo]="listCdkDropListConnectedTo" cdkDropList [cdkDropListData]="listGroupAvailable"
        (cdkDropListDropped)="dropIntoCol($event)">
        @for(group of listGroupAvailable; track group) {



        <div cdkDrag class="d-flex justify-content-between gap-2 align-items-center _group p-3 bg-light rounded border">
          <div class="_group-placeholder" *cdkDragPlaceholder></div>

          <div class="d-flex gap-4">
            <span>#</span>

            <span class="name">
              {{ group.label }}
            </span>
          </div>

          <i class="pi pi-arrows-alt"></i>
        </div>
        }
      </div>
    </div>

    <p-divider type="solid" />

    <!-- mục đã sử dụng -->
    <div class="d-flex flex-column gap-3">
      <label class="fw-bold">Mục đã sử dụng</label>

      <i>Click để xem vị trí của mục trên CV</i>

      <div class="list-used d-flex flex-column gap-2">
        @for(group of listGroupUsedDistinct; track group) {
        <div class="d-flex justify-content-center gap-2 align-items-center _group p-3 bg-light rounded border">
          <div class="d-flex gap-4">
            <span class="name">
              {{ group.label }}
            </span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</ng-template>

<!-- CV1 -->
<ng-template #cv1>
  <div id="cv-template" cdkDropListGroup class="shadow-sm _template d-flex flex-column {{ template?.code }}">
    @for (row of listRow; track row.id) {

    <!-- condition: row -->
    <div id="{{ row.id }}" class="_row d-flex">
      <!-- condition: column -->
      <div class="_col p-2 d-flex flex-column" cdkDropList id="{{ col.id }}" *ngFor="let col of row._listChild"
        [cdkDropListConnectedTo]="['groups']" (cdkDropListDropped)="dropIntoCol($event, col)"
        [cdkDropListData]="col._listTypeCode!" [style]="{ 'flex-basis': col._css['width'] + '%' }">
        @for (group of col._listTypeCode; track group; let idx = $index; let
        last = $last; let first = $first) {

        <ng-container>
          @if( group.layout == '5' ) {
          <!-- LƯU Ý app-cv-element-5 CHỈ DÀNH CHO GROUP CÓ col._hashMapTypeCode[group.typeCode].LENGTH >= 5 -->
          <!-- GROUP PHẢI CÓ THUỘC TÍNH layout, CÁC THÀNH PHẦN CON PHẢI CÓ fieldIndex, fieldIndex bắt đầu = 0 -->
          <!-- LƯU Ý TƯƠNG TỰ CHO CÁC app-cv-element-X -->
          <app-cv-element-5 (onMoveGroupEvent)="onMoveGroupEvent($event, col)"
            (onDeleteGroupEvent)="onDeleteGroupEvent($event, col)" [colId]="col.id" [idx]="idx" [first]="first"
            [last]="last" [template]="template" [listElement]="col._hashMapTypeCode[group.typeCode]"
            [typeCode]="group.typeCode" [label]="group.label"></app-cv-element-5>

          }@else {
          <!-- CÁC THÀNH PHẦN CON SẼ XẾP THÀNH CỘT -->
          <!-- GROUP K cần CÓ THUỘC TÍNH layout, CÁC THÀNH PHẦN CON K cần CÓ fieldIndex -->
          <!-- Chỉ áp dụng cho app-cv-element -->
          <app-cv-element (onMoveGroupEvent)="onMoveGroupEvent($event, col)"
            (onDeleteGroupEvent)="onDeleteGroupEvent($event, col)" [colId]="col.id" [idx]="idx" [first]="first"
            [last]="last" [template]="template" [listElement]="col._hashMapTypeCode[group.typeCode]"
            [typeCode]="group.typeCode" [label]="group.label"></app-cv-element>
          }
        </ng-container>

        }
      </div>
      <!-- end condition: column -->
    </div>

    }
  </div>
</ng-template>