<div id="js-advanced-filter" class="advanced-filter" [class.show]="showFilter">

    <div class="d-flex flex-column">

        <!-- mucLuong -->
        <ng-container
            *ngTemplateOutlet="radio; context: { label: 'common.job.salary' | translate, options: mucLuongs, model: 'mucLuong', name: 'mucLuong' }">
        </ng-container>

        <p-divider [type]="'dashed'"></p-divider>

        <!-- capBac -->
        <ng-container
            *ngTemplateOutlet="radio; context: { label: 'common.business.position' | translate, options: capBacs, model: 'capBac', name: 'capBac' }">
        </ng-container>

        <p-divider [type]="'dashed'"></p-divider>

        <!-- kinhNghiem -->
        <ng-container
            *ngTemplateOutlet="radio; context: { label: 'common.job.experience' | translate, options: kinhNghiems, model: 'kinhNghiem', name: 'kinhNghiem' }">
        </ng-container>

        <p-divider [type]="'dashed'"></p-divider>

        <!-- hinhThucLamViec -->
        <ng-container
            *ngTemplateOutlet="checkbox; context: { label: 'common.job.working_form' | translate, options: hinhThucLamViecs, model: 'hinhThucLamViecs', name: 'hinhThucLamViecs' }">
        </ng-container>

        <p-divider [type]="'dashed'"></p-divider>

        <!-- Kỹ năng -->
        <ng-container
            *ngTemplateOutlet="checkbox; context: { label: 'common.job.skill' | translate, options: kyNangs, model: 'kyNangs', name: 'kyNangs' }">
        </ng-container>

    </div>

</div>


<div class="overlay" [class.show]="showFilter"></div>

<div class="d-block d-md-none bottom-toolbar">

    <p-buttonGroup>
        <p-button class="flex-grow-1" [styleClass]="'w-100'" severity="secondary" label="Lọc nâng cao"
            (click)="showAdvancedFilter()" icon="pi pi-filter"></p-button>
        <p-button (click)="onPreviousPage()" severity="secondary" [outlined]="true" icon="pi pi-angle-left" />
        <p-button (click)="onNextPage()" severity="secondary" [outlined]="true" icon="pi pi-angle-right" />
    </p-buttonGroup>


</div>

<ng-template #radio let-label="label" let-options="options" let-model="model" let-name="name">

    <div class="d-flex flex-column gap-3">

        <label class="fw-bold title">
            {{ label }}
        </label>

        <div class="options ">

            @if (loading) {

            <p-skeleton height="1rem" width="4rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="1rem" width="4rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="1rem" width="4rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="1rem" width="4rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="1rem" width="4rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="1rem" width="4rem" styleClass="mb-2"></p-skeleton>

            }@else {
            <div class="field-check">
                <p-radioButton [inputId]="name + '-all'" [name]="name" [value]="'ALL'" [(ngModel)]="filter[model]"
                    (ngModelChange)="onChange()" />
                <label [for]="name + '-all'" class="ms-2">
                    {{ 'common.dropdown.all' | translate }}
                </label>
            </div>

            @for(option of options; track option.value) {
            <div class="field-check">
                <p-radioButton [inputId]="option.id" [name]="name" [value]="option.code" [(ngModel)]="filter[model]"
                    (ngModelChange)="onChange()" />
                <label [for]="option.id" class="ms-2">
                    {{ option.name }}
                </label>
            </div>
            }
            }

        </div>

    </div>

</ng-template>

<ng-template #checkbox let-label="label" let-options="options" let-model="model" let-name="name">

    <div class="d-flex flex-column gap-3">

        <label class="fw-bold title">
            {{ label }}
        </label>

        <div class="options ">

            <div class="field-check">
                <p-checkbox [inputId]="name + '-all'" [binary]="true" [(ngModel)]="stateCheckBox[name]"
                    (onChange)="onCheckBoxAll(name)" />
                <label [for]="name + '-all'" class="ms-2">
                    {{ 'common.dropdown.all' | translate }}
                </label>
            </div>

            @for(option of options; track option.value) {
            <div class="field-check">
                <p-checkbox [inputId]="option.id" [name]="name" [value]="option.code" [(ngModel)]="filter[model]"
                    (onChange)="onCheckBox(name)" />
                <label [for]="option.id" class="ms-2">
                    {{ option.name }}
                </label>
            </div>
            }

        </div>

    </div>
</ng-template>