.pick-lish-components {
    max-width: 100%;
    min-width: 300px;
    display: flex;
    // position: fixed;
    // top: 0;
    // bottom: 0;
    // left: 0;
    flex-direction: column;
    gap: 20px;

    &.hide-title {
        padding-top: 15px;
    }

    .title {
        padding: 0 10px;
        margin-bottom: 0;
        text-align: center;
    }

    p-iconfield {
        padding: 0 10px;
    }

    .list-component {
        display: flex;
        padding: 0 10px 15px;
        flex-wrap: wrap;
        gap: 10px;

        .component {
            width: calc(50% - 10px);
            text-align: center;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

:host ::ng-deep {
    [pDraggable] {
        cursor: move;
    }
}

input.form-control-sm {
    padding-left: 2rem;
}