//template_basic

.template_basic {
    background: #fff;
    color: var(--bs-dark);
    // color-mix(in srgb, var(--theme-color) 10%, if(is-light(var(--theme-color)), #000, #fff));

    ._row {
        background: #fff;
        min-height: 1097px;
        width: 100%;
    }

    #col1 {
        // background: color-mix(in srgb, var(--theme-color) 10%, #fff);
        background-color: var(--theme-color);
        color: var(--text-color-on-bg);        
    }

}