app-cv-group-action,
app-cv-input-action {
    display: none;
    position: absolute;
    top: -35px;
    z-index: 1;
    left: 5px;
    background: #dedfdf;
    padding: 0.5rem;
    border-radius: 4px 4px 0 0;
}

app-cv-input-action {
    left: auto;
    right: 5px;
}

.cv-input {

    .cv-element {
        position: relative;

        &:hover {

            app-cv-input-action {
                display: block;
            }

            input[type="text"] {
                border: 1px dashed var(--surface-500);
            }
        }

        input[type="text"] {
            width: 100% !important;
            border: none;
            padding: 0.3rem;
            background-color: transparent;

            &:focus {
                border: 1px dashed var(--surface-500);
            }

            &:focus-visible {
                outline-color: var(--primary-500);
            }

            &:focus-visible,
            &:focus {
                ~app-cv-input-toolbar {
                    .cv-input-toolbar {
                        display: flex;
                    }
                }

            }

            // css đặc trưng của các mục input
            &.card_fullname {
                font-weight: bold;
                text-transform: uppercase;
                color: currentColor;
            }

            &.position_applied {
                font-weight: bold;
                text-transform: capitalize;
            }

        }

    }
}

.cv-group {
    padding: 0.5rem;
    position: relative;

    &:hover {
        border: 1px solid var(--surface-400);
        border-radius: 4px;

        app-cv-group-action {
            display: block;
        }
    }

    &.selected {
        border: 1px solid var(--surface-400);
        border-radius: 4px;
    }

    &.cv-group-drag-preview {
        position: relative;

        input[type="text"] {
            display: none;
        }

        &:before {
            content: attr(code);
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            text-align: center;
            border: 1px solid var(--surface-400);
            border-radius: 4px;
            background-color: var(--primary-50);
            width: 200px;
            padding: 0.5rem 1rem;
        }
    }


}