.p-dialog-custom,
.dynamic-dialog {
    .p-dialog-content {
        padding-top: 2rem;

        &:last-of-type {
            border-radius: 0;
        }
    }
}

.p-dialog-custom {
    max-height: 100% !important;
}

.p-dialog-footer,
.p-dialog-header {
    background-color: var(--primary-50, #dee1e6);
    padding: 1rem 1.5rem;
}

@media screen and (min-width: 768px) {
    .p-dialog-custom {
        max-height: 90% !important;
    }
}