<div class="cv-input-action d-flex gap-1">
  <i class="pi pi-arrow-up" *ngIf="!first" pTooltip="Di chuyển lên trên" tooltipPosition="top" (click)="onMoveUp($event)"></i>
  <i class="pi pi-arrow-down" *ngIf="!last" pTooltip="Di chuyển xuống dưới" tooltipPosition="top" (click)="onMoveDown($event)"></i>
  <i class="pi pi-plus" pTooltip="Thêm" tooltipPosition="top" (click)="onAdd($event)" ></i>
  <i class="pi pi-trash" pTooltip="Xóa" tooltipPosition="top" *ngIf="!first" (click)="onDelete($event)"></i>
</div>