<div class="p-dialog-_content mx-auto">
  <form [formGroup]="form" class="row row-gap-5 g-0 flex-wrap">
    @for (item of dsThanhPhanDangCo; track item._key; let i = $index) {

    <!-- GROUP -->
    <ng-container *ngIf="item.inputType === 'group'">
      <section
        class="section-group d-flex flex-column gap-3 _component 
      col-{{ item._css.responsive[thietBiHienThi.MOBILE] }}
      col-md-{{ item._css.responsive[thietBiHienThi.TABLET] }}
      col-lg-{{ item._css.responsive[thietBiHienThi.DESKTOP] }}
      "
      >
        <!-- label group -->
        <div
          *ngIf="item.label"
          class="section-group__header d-flex align-items-start gap-3"
        >
          <i
            class="pi pi-{{ item._css.label.icon }}"
            [style.color]="item._css.label.iconColor"
            *ngIf="item._css.label.icon"
          ></i>

          <h3
            class="section-group__title m-0"
            [style.color]="item._css.label.color"
            [style.font-size.px]="item._css.label.fontSize"
          >
            {{ item.label }}
            <code class="fw-bold fs-6 text-primary user-select-all">{{
              item._key
            }}</code>
          </h3>
        </div>

        <div
          id="{{ item._key }}"
          class="section-group__content container-fluid"
        >
          <div class="row row-gap-3">
            @for (groupItem of item._listChild; track groupItem._key; let i =
            $index) {

            <div
              class="d-flex gap-2 _component 
                                        {{ groupItem._css.flex }}
                                        {{ groupItem._css.align }}
                                       col-{{
                groupItem._css.responsive[thietBiHienThi.MOBILE]
              }}
      col-md-{{ groupItem._css.responsive[thietBiHienThi.TABLET] }}
      col-lg-{{ groupItem._css.responsive[thietBiHienThi.DESKTOP] }}
                                        "
            >
              <!-- label -->
              @if (groupItem.inputType != 'checkbox') {
              <label
                [style.color]="groupItem._css.label.color"
                [style.font-size.px]="groupItem._css.label.fontSize"
                for="{{ groupItem._key }}"
              >
                <i
                  class="pi pi-{{ groupItem._css.label.icon }}"
                  [style.color]="groupItem._css.label.iconColor"
                  *ngIf="groupItem._css.label.icon"
                ></i>

                {{ groupItem.label }}
                <span class="text-danger" *ngIf="groupItem.isRequired">*</span>
                <code class="fw-bold text-primary fs-6 user-select-all">{{
                  groupItem._key
                }}</code>
              </label>
              }
              <!-- TEXT -->
              @if (groupItem.inputType == 'text') {
              <input
                pInputText
                [placeholder]="groupItem.placeholder"
                [style.color]="groupItem._css.content.color"
                [style.font-size.px]="groupItem._css.content.fontSize"
                id="{{ groupItem._key }}"
                attr.aria-describedby="{{ groupItem._key }}-help"
                formControlName="{{ groupItem.id }}"
                class="w-100"
              />
              }
              <!-- NUMBER -->
              @else if (groupItem.inputType == 'number') {
              <p-inputNumber
                class="w-100"
                [styleClass]="'w-100'"
                [placeholder]="groupItem.placeholder"
                [inputStyleClass]="'w-100'"
                inputId="{{ groupItem._key }}"
                [style.color]="groupItem._css.content.color"
                [style.font-size.px]="groupItem._css.content.fontSize"
                attr.aria-describedby="{{ groupItem._key }}-help"
                formControlName="{{ groupItem.id }}"
              />
              }
              <!-- CHECKBOX -->
              @else if (groupItem.inputType == 'checkbox') {
              <div class="d-flex {{ groupItem._css.flex }} gap-4">
                <p-checkbox
                  id="{{ groupItem._key }}"
                  [binary]="true"
                  label="{{ groupItem.label }}"
                  name="{{ groupItem._key }}"
                  [value]="groupItem.label"
                  formControlName="{{ groupItem.id }}"
                />
              </div>

              }
              <!-- EMAIL -->
              @else if (groupItem.inputType == 'email') {
              <input
                [placeholder]="groupItem.placeholder"
                type="text"
                pInputText
                [pattern]="emailPattern"
                [style.color]="groupItem._css.content.color"
                [style.font-size.px]="groupItem._css.content.fontSize"
                id="{{ groupItem._key }}"
                attr.aria-describedby="{{ groupItem._key }}-help"
                formControlName="{{ groupItem.id }}"
                class="w-100"
              />
              }
              <!-- RADIO -->
              @else if (groupItem.inputType == 'radio') {
              <div class="d-flex {{ groupItem._css.flex }} gap-2">
                <div
                  *ngFor="let value of groupItem._listValueOptionOpenJSON"
                  class="d-flex {{ groupItem._css.align }} gap-2"
                >
                  <p-radioButton
                    [inputId]="groupItem._key"
                    [(ngModel)]="groupItem._value"
                    name="{{ groupItem._key }}"
                    [value]="value"
                    formControlName="{{ groupItem.id }}"
                  />
                  <label [for]="groupItem._key">
                    {{ value }}
                  </label>
                </div>
              </div>
              }
              <!-- SELECT -->
              @else if (groupItem.inputType == 'select') {
              <p-dropdown
                class="w-100"
                [id]="groupItem._key"
                [filter]="groupItem.isSearch"
                [placeholder]="groupItem.placeholder"
                [options]="groupItem._listValueOptionOpenJSON"
                [styleClass]="'w-100'"
                formControlName="{{ groupItem.id }}"
              />
              }
              <!-- TAG -->
              @else if (groupItem.inputType == 'tags') {
              <p-chips
                class="w-100"
                [placeholder]="groupItem.placeholder"
                [inputId]="groupItem._key"
                [allowDuplicate]="groupItem.isAllowDuplicate"
                formControlName="{{ groupItem.id }}"
              />
              }
              <!-- EDITOR -->
              @else if (groupItem.inputType == 'editor') {

              <p-editor
                formControlName="{{ groupItem.id }}"
                [placeholder]="groupItem.placeholder"
                [style]="{ height: groupItem._css.height + 'px' }"
                [style.color]="groupItem._css.content.color"
                [style.width.%]="'100'"
                [style.font-size.px]="groupItem._css.content.fontSize"
                id="{{ groupItem._key }}"
              />

              }
              <!-- FILE -->
              @else if(groupItem.inputType == 'file'){

              <p-fileUpload
                class="w-100"
                [multiple]="groupItem.multiple"
                accept="{{ groupItem.acceptFileExtensions }}"
                maxFileSize="{{ groupItem.maxFileSize }}"
              >
              </p-fileUpload>
              }
              <!-- TEXTAREA -->
              @else if(groupItem.inputType == 'textarea'){

              <textarea
                autoResize="true"
                rows="5"
                cols="30"
                formControlName="{{ groupItem.id }}"
                pInputTextarea
              >
              </textarea>

              }
              <!-- DATE SINGLE -->
              @else if(groupItem.inputType == 'date' && !groupItem.multiple){
              <p-calendar
                inputId="{{ groupItem._key }}"
                [selectionMode]="'single'"
                [showIcon]="true"
                [iconDisplay]="'input'"
                [readonlyInput]="true"
                [showButtonBar]="true"
                class="w-100"
                [styleClass]="'w-100'"
                formControlName="{{ groupItem.id }}"
              />

              }
              <!-- DATE MULTIPLE -->
              @else if(groupItem.inputType == 'date' && groupItem.multiple){
              <p-calendar
                inputId="{{ groupItem._key }}"
                [selectionMode]="'multiple'"
                [showIcon]="true"
                [iconDisplay]="'input'"
                [readonlyInput]="true"
                [showButtonBar]="true"
                class="w-100"
                [styleClass]="'w-100'"
                formControlName="{{ groupItem.id }}"
              />

              }
              <!-- DATE RANGE -->
              @else if(groupItem.inputType == 'date-range'){
              <p-calendar
                inputId="{{ groupItem._key }}"
                selectionMode="range"
                [showIcon]="true"
                [iconDisplay]="'input'"
                [readonlyInput]="true"
                formControlName="{{ groupItem.id }}"
              />
              }
              <!-- DATE TIME -->
              @else if(groupItem.inputType == 'date-time'){
              <p-calendar
                inputId="{{ groupItem._key }}"
                [showTime]="true"
                [showIcon]="true"
                [iconDisplay]="'input'"
                [hourFormat]="'24'"
              >
                <ng-template pTemplate="inputicon">
                  <i class="pi pi-calendar-clock pointer-events-none"></i>
                </ng-template>
              </p-calendar>
              }
              <!-- TIME -->
              @else if(groupItem.inputType == 'time'){
              <p-calendar
                inputId="{{ groupItem._key }}"
                [showIcon]="true"
                [iconDisplay]="'input'"
                [timeOnly]="true"
                formControlName="{{ groupItem.id }}"
              >
                <ng-template pTemplate="inputicon">
                  <i class="pi pi-clock pointer-events-none"></i>
                </ng-template>
              </p-calendar>
              }
              <!-- MONTH -->
              @else if(groupItem.inputType == 'month'){
              <p-calendar
                inputId="{{ groupItem._key }}"
                view="month"
                dateFormat="mm/yy"
                [iconDisplay]="'input'"
                [showIcon]="true"
                [readonlyInput]="true"
                formControlName="{{ groupItem.id }}"
              />
              }
              <!-- YEAR -->
              @else if(groupItem.inputType == 'year'){
              <p-calendar
                inputId="{{ groupItem._key }}"
                view="year"
                dateFormat="yy"
                [showIcon]="true"
                [iconDisplay]="'input'"
                formControlName="{{ groupItem.id }}"
              />
              }
              <!-- IMAGE -->
              @else if(groupItem.inputType == 'image'){

              <p-fileUpload
                class="w-100"
                [showUploadButton]="false"
                accept="{{ groupItem.acceptFileExtensions }}"
                maxFileSize="{{ groupItem.maxFileSize }}"
              >
              </p-fileUpload>
              }
            </div>

            }
          </div>
        </div>
      </section>
    </ng-container>
    }
    <!-- end @for -->
  </form>
</div>

<dialog-footer
  (onSaveEvent)="onSave()"
  (onCloseEvent)="onClose()"
  dialogFooter
  [textButtonSave]="'Nộp'"
  [classDialog]="'ung-tuyen-dialog'"
  [isNew]="true"
  [isValid]="form.valid"
></dialog-footer>
